.modal-backdrop {
  align-items: stretch !important;
}

:root {
  --theme-font-family-base: 'Assistant', sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
}
body {
  height: 100dvh;
  font-family: var(--theme-font-family-base);
}